page-catalogs-list {

}

.item-divider{
	margin-top: 20px;
	margin-bottom: 20px;
		background-color: #11c1f3 ;
		color: white;
}


.waiting{
	background-color: aquamarine !important;
}

.f-size {
	font-size: medium;
}

.align-end {
	text-align: end;
}

.item-list:hover{
	background-color: rgba(0, 255, 184, 0.24);;
}

.catalog-list-background {
	background-color: rgba(233, 236, 236, 0.24);
}

.main-title {
	text-align: center;
}
