<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Internal Shipments' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="catalog-list-background" padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-grid>
      <ion-row wrap responsive-sm>
        <ion-col *ngFor="let item of list_items" col-1 width-50 sm-width-100>
          <ion-card class="item-list item.state">
            <ion-grid>
              <ion-row (click)="itemSelected($event, item)">
                <ion-col width-50 class="f-size">
                  <strong>{{ 'Number' | translate }}</strong>: {{ item.number }}
                </ion-col>
                <ion-col width-50 class="f-size align-end" *ngIf="item.planned_date">
                  <strong>{{'Planned Date' | translate }}</strong>: {{ item.planned_date['day'] }}/{{ item.planned_date['month'] }}/{{ item.planned_date['year'] }}
                </ion-col>
              </ion-row>
              <ion-row (click)="itemSelected($event, item)">
                <ion-col width-100 class="f-size">
                  <strong>{{ 'Reference' | translate }}</strong>: {{ item.reference }}
                </ion-col>
              </ion-row>
              <ion-row (click)="itemSelected($event, item)">
                <ion-col width-100 class="f-size">
                  <strong>{{ 'State' | translate }}</strong>: {{ item.state | translate }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll immediate-check="true" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
